<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Inválido</title>
    <link rel="stylesheet" href="/css/token-invalido.css" th:href="@{/css/token-invalido.css}">
</head>
<body>
<div class="form-container">
    <div class="title-form">
        <h1>⚠️ Formulario Expirado ⚠️️️</h1>
    </div>
    <div class="mensagem">
        <p class="mensagem-branca">
            O link de acesso ao formulário expirou ou é inválido.<br>
            Para resolver este problema, entre em contato com nosso suporte 👇
        </p>
        <button id="btnSuporte">🚀 Falar com o Suporte Wakanda 🚀</button>
    </div>
</div>
<script src="/js/token-invalido.js" th:src="@{/js/token-invalido.js}"></script>
</body>
</html> 